body{
    background-color: #82b5ff;
    /* background: url("photos/pexels-brett-sayles-3536459.jpg"); */
    /* background: url("photos/pexels-moose-photos-1037992.jpg"); */
    background: url("photos/pexels-pixabay-326311.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color : #eccccc;
    /* z-index: 0; */
}
/* ---------------------------------------------------- */
.keyboard{
    /* margin-left: 10%; */
    /* color: #82b5ff; */
    text-align: center;
    font-weight: bold;
}
.two-key{
    display: inline-block;
}
.three-key{
    display: inline-block;
}
.long-button{
    background-color: #fff;
    height: 22rem;
    width: 3.5rem;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    z-index: 1;
    margin: 0 -2px;
    border: 3px solid rgb(0 0 0 / 30%);
    box-shadow:  0px 4px 9px 4px rgb(0 0 0 / 42%);
}
.short-button{
    background-color:black;
    height: 12.5rem;
    width: 2rem;
    z-index: 2;
    position: absolute;
    margin-top: 0px;
    margin-left: -1.3rem;
}
.key-word-up{
    column-count: 2;
    column-gap: 20px;
    height: 20rem;
    text-align: center;
    padding-left: 0.6rem;
}
.button-active{
    transform: translateY(7px);
}
/* --------------------------------------------------------- */
.long-button:hover{
    box-shadow:  0px 4px 12px 5px black;
}
.short-button:hover{
    background-color: #36323f;
}
/* .short-button:active, .long-button:active{
    transform: translateY(7px);
} */