body{
    margin: 0;
    background-color: #82b5ff;
    background: url("photos/pexels-pixabay-326311.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
/* ---------------------------------------------------- */
.progress{
    color : #eccccc;
    text-shadow: 2px 2px 5px white;
}
.keyboard{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.384);
    /* width: 80%; */
    margin: 10px 20px;
    padding: 10px;
    border-radius: 20px;
}
.speaker{
    /* display: inline-block; */
    background-color: black;
    background-image: url("photos/speakers.jpg");
    height: 22rem;
    width: 8rem;
    margin: auto 70px;
    border-radius: 10px;
}
.column {
    float: left;
    /* width: 33.33%; */
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

.display-line{
    background-color: grey;
    border: 3px solid black;
    border-radius: 8px;
    padding: 5px 15px;
    width: 30%;
    margin: 20px auto;
    font-family: 'Press Start 2P', cursive;
    /* color: black; */
}
.key-playing-board{
    display: inline-block;
}
.two-key{
    display: inline-block;
}
.three-key{
    display: inline-block;
}
.long-button{
    background-color: #fff;
    height: 22rem;
    width: 3.5rem;
    border-radius: 0px 0px 7px 7px;
    position: relative;
    z-index: 1;
    margin: 0 -1px;
    border: 3px solid rgb(0 0 0 / 30%);
    box-shadow:  0px 4px 9px 4px rgb(0 0 0 / 42%);
    font-size: 1.2em;
    color: rgba(128, 128, 128, 0.507);
}
.short-button{
    background-color:black;
    height: 12.5rem;
    width: 2rem;
    z-index: 2;
    position: absolute;
    margin-top: 0px;
    margin-left: -1.3rem;
}
.key-word-up{
    column-count: 2;
    column-gap: 20px;
    height: 20rem;
    text-align: center;
    padding-left: 0.6rem;
}
.button-active{
    transform: translateY(7px);
}
#note-range-selector{
    display: block;
    margin: 20px auto;
    padding: 2px 5px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
    border: 3px solid rgba(0, 0, 0, 0.726);
    background-color: #ecccccb2;
    /* color: grey; */
    color: black;
    /* text-shadow: 2px 2px 3px black; */
}
.first-key{
    border-radius: 10px 0px 8px 10px;
}
.last-key{
    border-radius: 0 10px 10px 8px;
}

.footer{
    /* width: 100%; */
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;
    margin-top: 95px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
    /* background-color: rgba(30, 87, 192, 0.808); */
}
.footer-links{
    margin: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: blanchedalmond;
}
.footer-links:hover{
    font-size: 1.3rem;
    color: red;
}
/* --------------------------------------------------------- */
.long-button:hover{
    box-shadow:  0px 4px 12px 5px black;
}
.short-button:hover{
    background-color: #36323f;
}