body{
    margin: 0;
    padding: 0;
    text-align: center;
}
/*  */

.top{
    margin: 0;
    padding: 1px;
    background-color: green;
    height: 25rem;
    background-image: url(../photos/joshua-woroniecki-eUjT8kweNlg-unsplash.jpg);
    background-size: cover;
}
.top h1{
    margin-top: 9rem;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

/*  */
.middle{
    margin: 0;
    padding: 1px;
    background-color: rgb(12, 57, 75);
    height: 19rem;
}
.hello{
    font-family: 'Parisienne', cursive;
    color: #e93366;
}
.hello_hr{
    display: inline-block;
    margin: 12px 20px;
    width: 100px;
    /* color: rgb(12, 57, 75); */
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid white;
}
.intro{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #579099;
}
.middle p{
    font-family: 'Roboto Mono', monospace;
    color: #579099;
}